@media (min-width: 500px){
    #wavy{
        /* margin-top: 10%; */
        height: 79vh;
        width: 100vw;
        background: none;
      }

      #homeText{
        font-family: 'Amatic SC', cursive;
          color: white;
          font-size: 14rem;
          padding-top: 5vh;
      }

      #blueImg{
          opacity: 0;
        width: 0;
      }
   
      #homeTitle{
          height: 58vh;
          margin: 0;
          background: url('./blueBig.png') center no-repeat;
      }

      #curveSvg{
          position: relative;
          bottom: 9vh;
      }

      #options{
        position: absolute;
        top: 65vh;
        display: flex;
        flex-direction: row;
        flex-wrap: none;
        align-items: center;
        margin: 0 5vw;
        width: 90vw;
        justify-content: space-between;
      }

      .boxes{

        font-weight: 800;
        border-radius: 5px;
        border-width: 1vw;
        margin-top: -5%;
        height: 20vw;
        width: 20vw;
      }

      

      
      #leftSide{
        margin-right: 0;
      
      }

      #weirdText{
        margin-top: 10%;
        font-family:'Amatic SC', cursive;
        font-size: 6rem;
        text-align: center;
      }

      .textBox{
        margin-top: 30%;
        font-family: 'Amatic SC', cursive;
        font-size: 6rem;
        text-align: center;
      }

      #box1{
        background-color: rgba(72, 96, 168, 0.781);
      }

      #box1::after{
        content: '';
        position: absolute;
        border-radius: 7px;
        top: 9vh;
        left: 0;
        background: rgb(144, 20, 144);
        width: 20vw;
        height: 10vw;
        z-index: -1;
        transition: transform  180ms ease-in;
        transform: scaleY(0);
        transform-origin: bottom;
  }


  #box1:hover::after{
      transform: scaleY(1);
  }

      #box2{
        background-color: rgba(122, 72, 168, 0.781);
         
    }

    #box2::after{
        
        content: '';
        position: absolute;
        border-radius: 7px;
        top: 9vh;
        left: 25.9%;
        background: rgba(20, 144, 47, 0.527);
        width: 20vw;
        height: 10vw;
        z-index: -1;
        transition: transform  180ms ease-in;
        transform: scaleX(0);
        transform-origin: right;

     
  }


  #box2:hover::after{
      transform: scaleY(1);
  }


    #box3{
        background-color: rgba(37, 93, 31, 0.781);

    }

    #box4{
        background-color: rgba(53, 136, 175, 0.781);
 
    }
}
