
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#wavy{
  /* margin-top: 10%; */
  height: 79vh;
  width: 100vw;
  background: url('./blueewave.png')  ;
}


#homeText{
  color: #314166;
  padding-left: 2vw;
  font-family: 'Kaushan Script', cursive;
  font-size: 18vw;
  font-weight: 900;
}

#blueImg{
  margin-top: -2vh;
  width: 100vw;
}

#homeTitle{
  margin-top: 10vh;
}

#options{
  position: absolute;
  top: 65vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.boxes{

  font-weight: 800;
  border-radius: 5px;
  border-width: 1vw;
  margin-top: 4vh;
  height: 21vh;
  width: 41vw;
  background-color: rgba(6, 138, 45, 0.883);
}

a {
  color: inherit; 
  text-decoration: inherit; 
}

#leftSide{
  margin-right: 4.5vh;

}

#weirdText{
  margin-top: 20%;
  font-family: 'Kaushan Script', cursive;
  font-size: 8vw;
  text-align: center;
}

.textBox{
  margin-top: 30%;
  font-family: 'Kaushan Script', cursive;
  font-size: 8vw;
  text-align: center;
}